.container{
    background-color: rgb(249, 29, 29);
    height:200px;
    width: 600px;
}
.em{
    text-align: center;
    position: relative;
    left: 10px;
    top: 100px;
}
.eam{
    background-color: grey;
    height: 500px;
    width: 600px;

    border-bottom-right-radius:20px ;
}
